@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

button {
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.wrapper {
  max-width: 1140px;
  margin: auto;
}

.main-screen {
  display: block;
  position: relative;
  height: 100vh;
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
}

.header, .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header {
  padding-top: 20px;
}

.menu-item:first-child a {
  color: #9a9a9a;
}

.menu-item a {
  color: #fff;
  margin: 0 20px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-family: "Raleway";
  font-size: 0.9rem;
}

.menu-item a:hover {
  color: #9a9a9a;
}

.menu-item .fa-search {
  color: #5fb759;
  padding: 10px;
  background-color: #fff;
}

.banner {
  text-align: center;
  margin-top: 30vh;
  color: #fff;
}

.sup_title {
  margin-bottom: 25px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFF;
}

.banner-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 200;
  color: #FFF;
  overflow: hidden;
}

.button {
  font-size: 13px;
  border-radius: 25px;
  padding: 11px 25px;
  background-color: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #fff;
}

.button {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.take-action {
  margin-left: 30px;
  background-color: #fff;
  color: #5fb759;
  border: none;
}

.take-action:hover {
  background-color: #5fb759;
  color: #fff;
}

.read-more:hover {
  background-color: #fff;
  color: #5fb759;
}

.about {
  padding: 40px 0;
  border-bottom: solid 4px #f7f7f7;
}

.about-container {
  -ms-grid-columns: 40% 20% 40%;
      grid-template-columns: 40% 20% 40%;
}

.about-additional {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.about-describe {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.about-title {
  color: #5fb759;
  padding: 10px 0;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.about-additonal-title {
  color: #212529;
  font-size: 32px;
}

.about-icons {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 20px;
  margin: 30px 0 40px;
}

.about-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-text {
  margin-left: 10px;
  text-transform: uppercase;
  color: #212529;
  font-weight: 600;
}

.about-submit {
  padding: 15px 20px;
  font-size: .8rem;
  text-transform: uppercase;
  color: #fff;
  font-family: "Raleway";
  font-weight: 600;
  background-color: #5fb759;
  border-radius: 30px;
}

.about-submit:hover {
  cursor: pointer;
}

.about-submit:hover .fa-arrow-right {
  margin-left: 10px;
}

.fa-arrow-right {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-left: 5px;
}

.about-link {
  color: #0056b3;
}

.about-describe p {
  padding: 10px 0;
  color: #9a9a9a;
  font-family: "Raleway";
}

.news {
  padding: 30px 0 60px;
}

.news-container {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.news-describe {
  margin-left: 30px;
}

.news-title {
  font-size: 1rem;
  color: #212529;
  text-transform: uppercase;
}

.news-text {
  padding: 10px 0;
  color: #9a9a9a;
  font-size: 0.9rem;
  line-height: 20px;
}

.news-more {
  text-transform: uppercase;
  color: #212529;
  font-size: 0.8rem;
  letter-spacing: 1.2px;
  font-family: "Raleway";
  font-weight: 600;
}

.news-more:hover {
  color: #5fb759;
}

.news-more:hover .fa-arrow-right {
  margin-left: 10px;
}

.news-more .fa-arrow-right {
  margin-left: 5px;
}

.newsletter {
  margin: 40px 0 100px;
  padding: 40px 15%;
  text-align: center;
  color: #fff;
  background: url("./images/slide-02.jpg") center no-repeat;
}

.newsletter-subtitle {
  font-size: .95em;
  font-weight: 500;
  ttfont-family: "Raleway";
  text-transform: uppercase;
}

.newsletter-title {
  font-size: 2em;
  margin: 20px auto;
}

.newsletter-describe {
  font-size: 1em;
  font-weight: 400;
  line-height: 2em;
}

.form-email {
  margin-top: 40px;
  background-color: transparent;
  outline: none;
  width: 60%;
  outline-color: #fff;
  border: solid 1px #fff;
  padding: 10px 15px;
  border-radius: 50px;
  margin-right: 20px;
  color: white;
  font-family: 'Raleway';
}

.form-email::-webkit-input-placeholder {
  color: #fff;
}

.form-email:-ms-input-placeholder {
  color: #fff;
}

.form-email::-ms-input-placeholder {
  color: #fff;
}

.form-email::placeholder {
  color: #fff;
}

.newsletter-submit {
  text-transform: uppercase;
  text-transform-font-family: 'Raleway';
  color: #5fb759;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 0.8em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.newsletter-submit:hover {
  color: #fff;
  background-color: #5fb759;
}

.projects {
  margin: 100px 0;
}

.projects-container {
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.projects-title {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #5fb759;
  font-size: 0.95em;
}

.projects-nav-title {
  font-family: 600px;
  color: #212529;
  line-height: 1em;
  font-size: 2em;
}

.projects-menu {
  margin-top: 40px;
}

.menu-item {
  text-transform: uppercase;
  font-size: .8em;
  color: #9a9a9a;
  margin: 30px 0;
  font-weight: 600;
  width: auto;
}

.menu-item:hover, .menu-item:first-child {
  color: #5fb759;
  cursor: pointer;
}

.projects-img {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.img-item {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
}

.img-item:hover {
  cursor: pointer;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.team {
  padding: 80px 0;
  background: url("./images/slide-03.jpg") center no-repeat;
  color: #fff;
  text-align: center;
}

.team-subtitle {
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: 400;
}

.team-title {
  font-weight: 800;
  font-size: 2em;
  margin: 20px 0 40px;
}

.team-container {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.team-name, .team-position {
  text-transform: uppercase;
}

.team-name {
  font-size: 1em;
  margin: 20px 0 10px;
}

.team-position {
  font-size: 0.8em;
}

.team-profile {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
}

.team-profile:hover {
  cursor: pointer;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.contact-us {
  padding: 100px;
  background: url("./images/dotted-map-bg.png") no-repeat center;
}

.contact-us-title {
  color: #5fb759;
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: 500;
}

.contact-us-container {
  -ms-grid-columns: 34% 66%;
      grid-template-columns: 34% 66%;
  margin-top: 20px;
}

.contact-additional-title {
  color: #212529;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 30px;
}

.contact-additional-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.contact-additional-text {
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: 600;
  text-decoration: none;
  color: #212529;
}

.contact-form input, .contact-form textarea {
  padding: 15px;
  font-family: "Raleway";
  color: #9a9a9a;
  border: 1px solid #ddd;
  outline: none;
  font-size: 0.95em;
}

.contact-form input {
  margin-bottom: 30px;
  width: 48%;
}

.contact-form input::-webkit-input-placeholder {
  font-weight: 400;
}

.contact-form input:-ms-input-placeholder {
  font-weight: 400;
}

.contact-form input::-ms-input-placeholder {
  font-weight: 400;
}

.contact-form input::placeholder {
  font-weight: 400;
}

.contact-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  color: #9a9a9a;
  resize: none;
}

.contact-form .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  display: block;
  background: linear-gradient(145deg, #339b9e 0%, #68cc98 100%);
  padding: 40px 0;
}

.footer-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-follow {
  text-transform: uppercase;
  margin-right: 10px;
}

.footer-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-icon {
  position: relative;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-icon:hover {
  background-color: #5fb759;
}

.footer-icon:hover a {
  color: #fff;
}

.footer-icon a {
  color: #5fb759;
  padding: 5px;
}

.zoom-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zoom-image img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    max-width: 720px;
  }
  .about-container {
    -ms-grid-columns: 45% 10% 45%;
        grid-template-columns: 45% 10% 45%;
  }
  .header .menu-item {
    display: none;
  }
  .header .menu-item:last-child {
    display: block;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  .projects-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects-menu {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 30px;
  }
  .newsletter-describe, .about-describe p {
    font-size: 0.7em;
  }
  .newsletter-subtitle {
    font-size: 0.65em;
  }
  .team-position {
    font-size: 0.6em;
  }
  .about-title, .projects-title, .contact-us-title {
    font-size: 12px;
  }
}

@media only screen and (max-width: 740px) {
  .about-container, .contact-us-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-describe {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .about-additional {
    margin-bottom: 30px;
  }
  .wrapper {
    max-width: 540px;
  }
  .news-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 40px;
  }
  .newsletter-describe, .about-describe p {
    font-size: 0.9em;
  }
  .newsletter {
    margin: 20px 0;
  }
  .projects {
    margin: 50px 0;
  }
  .team-container,
  .projects-img {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .team {
    background-size: cover;
  }
  .contact-us {
    padding: 50px 0;
  }
  .form-email {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .team-container, .about-icons, .projects-img {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  #subscribe input {
    width: 60%;
  }
  .footer-describe {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-form input {
    width: 100%;
  }
  .newsletter {
    padding: 40px 5%;
  }
  .projects-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 10px;
    margin: 20px 0 30px;
  }
  .menu-item {
    margin: 0;
  }
  .footer-icon {
    margin: 0 7px;
  }
}
